*margin{
    display: flex;
    justify-content: space-between;
}
.input fields{
    color: chocolate;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
}
.input{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}